.side-bar
  .user-box
    .top-items
      %p.top-items__name
        masa
      %ul.top-items__box-menu
        %li.top-items__group-edit
          = link_to "###", class:"group-edit" do
            = icon('far', 'edit')
        %li.top-items__config
          = link_to "###", class:"config" do
            = icon('fa', 'cog')
  .group-list
    .group
      %p.group__group-name
        アイ
      %p.group__group-message
        aaa
